/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

body {
  @apply bg-gray-50;
}

.nav-link {
  @apply text-gray-700 hover:text-orange-600 px-3 py-2 rounded-md text-sm font-medium transition-colors;
}

.editable-text {
  border: 1px dashed transparent;
  padding: 5px;
  cursor: pointer;
}
